<nav>
    <h1>Week Nine</h1>
    <h2>A multi-tiered approach!</h2>
    <a href="/">[home]</a>
    <a href="/create">[create - no auth]</a>
    <a href="/create?admin=true">[create - admin is true]</a>
    <a href="/about">[about]</a>
</nav>